{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

 <div class="container">
    <table class="table table-dark table-striped">
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>category</th>
            <th>Price</th>
            <th>Edition</th>
            <th>Actions</th>
            <th>Others</th>
        </tr>
        {% for item in books %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.edition }}</td>
            <td> <a href="{% url 'update_book' id=item.id %}"> Update </a>, <a href="{% url 'delete_book' id=item.id %}"> Delete </a></td>
            <td> <a href=""> Download</a>, <a href=""> View</a> <td>
        </tr>
        {% endfor %}
    </table>
 </div>
{% endblock start %}
